In [ ]:
1)What is Python, and why is it widely used in data science?
.python is high level programing language it is widely used by data scientist.
python has built in libraraies, these built in mtahmatical libraries make easier to solve or calculate mathamatical problems.

In [ ]:
2)Explain the difference between a variable and a constant in Python.
variable: their values can be changed and updated.
constant: their values cannot be changed and updataed.

In [ ]:
3)How do you create a Python dictionary, and how is it different from a list?
To create a Python dictionary, you use curly braces {} and define key-value pairs. Each key is separated from its value by a colon :
and pairs are separated by commas, 
for example:
my_dict = {"name": "osara", "age": 25, "city": "rawalakot"}
.list is an ordered collection of items, whereas a dictionary is an unordered data collection.
.Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [ ]:
4)What are Python tuples, and when would you use them over lists?
.A Python tuple is an ordered collection of items, similar to a list, but its elements cannot be changed after creation.
Tuples are created using parentheses () or simply by separating items with commas, like (1, 2, 3) or 1, 2, 3.
.we use touple over lists when data should not be changed, 
.we use touple over lists when we should access data faster. as touples are quicker than lists.
.touple provide safety for important data as it help to avoid accidental changes in important data.

In [ ]:
5)Write a Python function that takes two numbers as arguments and returns their sum?

In [17]:
import pandas as np
import numpy as np
def add_numbers(a, b):
    return a + b  
result = add_numbers(10, 20)
print(result)

30

In [ ]:
6)Explain the difference between axis 0 and axis 1 in NumPy.
In NumPy, axis 0 and axis 1 are used to specify the direction of operations.
Axis 0: Refers to the vertical axis such as rows.
Axis 1: Refers to the horizontal axis such as columns.

In [ ]:
7)What are some common aggregation functions in NumPy (e.g., sum, mean)? 
Provide examples.
some common aggregation functions in NumPy:
np.sum()
np.mean()
np.min()
np.max()

In [25]:
import pandas as np
import numpy as np
arr = np.array([[1, 2], [3, 4]])
total_sum = np.sum(arr)
print("total sum,:", total_sum)
sum_axis_0 = np.sum(arr, axis=0)
print("(axis 0):", sum_axis_0)
sum_axis_1 = np.sum(arr, axis=1)
print("(axis 1):", sum_axis_1)

total sum,: 10
(axis 0): [4 6]
(axis 1): [3 7]

In [27]:
import pandas as pd
import numpy as np
arr = np.array([[1, 2], [3, 4]])
mean_all = np.mean(arr)
print("total mean:", mean_all)
mean_axis_0 = np.mean(arr, axis=0)
print("(axis 0):", mean_axis_0)
mean_axis_1 = np.mean(arr, axis=1)
print("(axis 1):", mean_axis_1)

total mean: 2.5
(axis 0): [2. 3.]
(axis 1): [1.5 3.5]

In [ ]:
9)How do you create a Pandas DataFrame from a dictionary?

In [29]:
import pandas as pd
import numpy as np
data = { 'Name': ['ossara', 'zuha', 'iqra'],
    'Age': [25, 30, 35],
    'City': ['rawalakot', 'tarnoti', 'kharick']
}
df = pd.DataFrame(data)
print(df)

     Name  Age       City
0  ossara   25  rawalakot
1    zuha   30    tarnoti
2    iqra   35    kharick

In [ ]:
10)What are the key differences between a Pandas Series and a Pandas DataFrame?
.Series: One-dimensional (single column of data).
.Holds data of a single type.
.DataFrame: Two-dimensional (rows and columns of data).
.Holds data of a single type.

In [ ]:
11)How do you display the first five rows of a Pandas DataFrame?
.To display the first five rows of a Pandas DataFrame, you use the head() method.

In [ ]:
12)How can you rename the columns of a Pandas DataFrame?
.You can rename the columns of a Pandas DataFrame using the rename() method

In [1]:
import pandas as pd
import numpy as np
data = {'Name': ['ossara', 'zuha'], 
        'Age': [25, 30], 
        'City': ['rawalakot', 'tarnoti']}
df = pd.DataFrame(data)
df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
print(df)

  Full Name  Years       City
0    ossara     25  rawalakot
1      zuha     30    tarnoti

In [ ]:
13)What is the difference between the loc and iloc indexers in Pandas? Provide 
examples.
.loc: It is label-based, so it uses row/column names.
loc includes both the start and end in slices.
.iloc: It is position-based.
iloc includes the start but excludes the end in slices.

In [13]:
import pandas as pd
import numpy as np
data ={'Name': ['ossara', 'zuha', 'iqra'],
    'Age': [25, 30, 35],
    'City': ['rawalakot', 'kashmir', 'rawalpindi']}
df = pd.DataFrame(data)
print(df)
rows =df.loc[1:2]
print(rows)

     Name  Age        City
0  ossara   25   rawalakot
1    zuha   30     kashmir
2    iqra   35  rawalpindi
   Name  Age        City
1  zuha   30     kashmir
2  iqra   35  rawalpindi

In [11]:
import pandas as pd
import numpy as np
data = {
    'Name': ['ossara', 'zuha', 'iqra'],
    'Age': [25, 30, 35],
    'City': ['rawalakot', 'kashmir', 'rawalpindi']
}
df = pd.DataFrame(data)
print(df)
rows = df.iloc[1:2]
print(rows)

     Name  Age        City
0  ossara   25   rawalakot
1    zuha   30     kashmir
2    iqra   35  rawalpindi
   Name  Age     City
1  zuha   30  kashmir

In [ ]:
14)4.How do you filter rows in a DataFrame based on a condition (e.g., select rows where 
a column is greater than a specific value)?

In [17]:
import pandas as pd
import numpy as np
data = {
    'Name': ['ossara', 'zuha', 'iqra', 'rubab'],
    'Age': [25, 30, 35, 40],
    'City': ['rawalakot', 'tarnoti', 'kharick', 'banjoosa']
}
df = pd.DataFrame(data)
filtered_df = df[df['Age'] > 30]
print(filtered_df)

    Name  Age      City
2   iqra   35   kharick
3  rubab   40  banjoosa

In [ ]:
15)How do you calculate the sum of values in a specific column of a Pandas 
DataFrame?

In [21]:
import pandas as pd
import numpy as np
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
sum_A = df['B'].sum()
print(sum_A)

15

In [ ]:
16)Explain how the groupby() function works in Pandas. Provide an example use case.
.The groupby() function in Pandas is used to split a DataFrame into groups based on some criteria,perform operations on those groups,
and then combine the results back into a DataFrame.

In [23]:
import pandas as pd
import numpy as np
data = {'Region': ['East', 'West', 'East', 'West', 'North', 'East'],
      'Sales': [100, 200, 150, 250, 300, 175]}
df = pd.DataFrame(data)
grouped = df.groupby('Region')['Sales'].sum()
print(grouped)

Region
East     425
North    300
West     450
Name: Sales, dtype: int64

In [ ]:
17)How do you handle missing data (NaN) in a Pandas DataFrame?

In [39]:
import pandas as pd
import numpy as np
data = {
    'Name': ['osara', 'zuha', 'iqra', 'aliza', None],
    'Age': [25, None, 30, 22, 28],
   'City': ['rawalakot', 'tarnoti', 'kharick', 'banjoosa', None]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df_dropna = df.dropna()
print("\nDataFrame after dropping rows with NaN values:")
print(df_dropna)

Original DataFrame:
    Name   Age       City
0  osara  25.0  rawalakot
1   zuha   NaN    tarnoti
2   iqra  30.0    kharick
3  aliza  22.0   banjoosa
4   None  28.0       None

DataFrame after dropping rows with NaN values:
    Name   Age       City
0  osara  25.0  rawalakot
2   iqra  30.0    kharick
3  aliza  22.0   banjoosa

In [ ]:
18)What is the purpose of the merge() function in Pandas? How does it differ from concat()?
.merge(): Combines DataFrames based on common columns or indexes.
merge requires specifying columns to merge on (on, left_on, right_on).
.concat(): Stacks DataFrames along a specified axis (rows or columns).
concat(): Requires specifying the axis (axis=0 for rows, axis=1 for columns).

In [ ]:
19)How do you sort a Pandas DataFrame by a specific column?
.To sort a Pandas DataFrame by a specific column, you can use the sort_values() function. This allows you to sort the DataFrame either in 
ascending or descending order.

In [49]:
import pandas as pd
import numpy as np
data = {'Name': ['osara', 'zuha', 'iqra', 'rubab'],
    'Age': [25, 30, 22, 28]
}
df = pd.DataFrame(data)
sorted_df_asc = df.sort_values(by='Name', ascending=True)
print(sorted_df_asc)
sorted_df_desc = df.sort_values(by='Age', ascending=False)
print(sorted_df_desc)

    Name  Age
2   iqra   22
0  osara   25
3  rubab   28
1   zuha   30
    Name  Age
1   zuha   30
3  rubab   28
0  osara   25
2   iqra   22

In [ ]:
20).Create a Pandas DataFrame with sample data (e.g., student names and marks) and save it as a CSV file

In [3]:
import pandas as pd
import numpy as np
data = {
    'Student': ['osara', 'zuha', 'iqra', 'alya', 'aliza'],
    'Marks': [85, 90, 78, 88, 92]
}
df = pd.DataFrame(data)
# Saving the DataFrame to a CSV file
df.to_csv('students.csv', index=False)

print("created successfully.")

created successfully.